// .header-nav {
//     display: flex;
//     justify-content: center;
// }
.header {
    border-bottom: 1px solid #ECECEC;
}
.main-nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 50px;
   
}

/* Site logo */
.site-logo {
    display: flex;
    align-items: center;
}

.logo-web {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #2196F3;
}

.logo-studio {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #000000;
}

/* Site nav */
.navigation {
    display: flex;
    align-items: center;
}

.navigation_site-nav {
    display: flex;
    margin-left: 93px;
    position: relative;
}

.site-nav-item {
    display: block;
    .site-nav &:not(:first-child) {
        margin-left: 50px;
    }
    & .link {
        padding-top: 32px;
        padding-bottom: 32px;
    }
}

/* Contacts */
.contacts {
    display: flex;
    align-items: center;
    padding-top: 32px;
    padding-bottom: 32px;
    margin-left: auto;
    & .contacts-list+.contacts-list {
        margin-left: 50px;
    }
}

.header-mail,
.header-tel {
    display: flex;
    align-items: center;
    justify-content: center;
}

.link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #212121;
    display: flex;
    align-items: center;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
        color: var(--accent-color);
}
    .contacts & {
        font-style: normal;
        font-size: 14px;
        line-height: 1.71;
        letter-spacing: 0.03em;
        color: var(--primary-text-color);
        cursor: pointer;
}
}

.site-nav .link.current {
    color: var(--accent-color); 
}

.site-nav .link.current::after {
    content: '';
    width: 48px;
    height: 4px;
    background-color: #2196F3;
    border-radius: 2px;
    position: absolute;
    bottom: 0;
}

.contact-mail-icon,
.contact-tel-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    fill: currentColor;
}
.header-mail,
.header-tel {
    gap: 10px;
}

